body{

     font-family: 'Courier New';
     padding: min(5em 8%);
     font-size: 1.5rem;
     background-color: rgb(183, 178, 248);
     color: black;
}

#b1{
    background-color: #9d95d8;
    border-radius: 20px;
    font-size: 0.8em;
    color: black;
    margin-left: 1.5cm;
    margin-top: 10px;;
}

#b2{
    background-color: #9d95d8;
    border-radius: 20px;
    font-size: 0.8em;
    color: black;
    margin-left:1.5cm;
    margin-top: 10px;
}

#i1{
    background-color: #9d95d8;
    font-size: 0.8em;
    margin-left: 10px;
}

#i2{
    background-color: #9d95d8;
    font-size: 0.8em;
    margin-left: 10px;
}

#b3{
    background-color: #9d95d8;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 0.8em;
    color: black;
    margin-left: 1.5cm;
    margin-top: 10px;
}

#grafikas{
    margin-left: 1cm;
    margin-top: 1cm;
    max-width: 100%;
    height: auto;
    
}

#b4{
    background-color: #9d95d8;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 0.8em;
    color: black;
    margin-left: 1.5cm;
    margin-top: 10px;
}

#i3{
    background-color: #9d95d8;
    font-size: 0.8em;
    margin-left: 10px;
}

#i4{
    background-color: #9d95d8;
    font-size: 0.8em;
    margin-left: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-left: 1cm;
    margin-top: 1cm;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #DDD;
  }

tr:hover {background-color: #9d95d8;}

#b5{
    background-color: #9d95d8;
    border-radius: 20px;
    font-size: 0.8em;
    color: black;
    margin-left:1.5cm;
    margin-top: 10px;
}
