body{
     font-family: 'Courier New';
     font-size: 1.5em;
     background-color: rgb(183, 178, 248);
     color: black;
}

#b1{
    background-color: #9d95d8;
    border-radius: 20px;
    font-size: 0.8em;
    color: black;
    margin-left: 15px;
    margin-top: 10px;;
}

#b2{
    background-color: #9d95d8;
    border-radius: 20px;
    font-size: 0.8em;
    color: black;
    margin-left:15px;
    margin-top: 10px;
}

#i1{
    background-color: #9d95d8;
    font-size: 0.8em;
    margin-left: 10px;
}

#i2{
    background-color: #9d95d8;
    font-size: 0.8em;
    margin-left: 10px;
}

#b3{
    background-color: #9d95d8;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 0.8em;
    color: black;
    margin: 25px 50px 75px 100px ;
}

#grafikas{
    margin: 25px 50px 75px 100px;
    
}

#b4{
    background-color: #9d95d8;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 0.8em;
    color: black;
    margin: 25px 50px 75px 100px ;
}

#i3{
    background-color: #9d95d8;
    font-size: 0.8em;
    margin-left: 10px;
}

#i4{
    background-color: #9d95d8;
    font-size: 0.8em;
    margin-left: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }

tr:hover {background-color: #9d95d8;}

#b5{
    background-color: #9d95d8;
    border-radius: 20px;
    font-size: 0.8em;
    color: black;
    margin-left: 15px;
    margin-top: 10px;;
}